/* Declaring custom properties */


body {
  margin: 0;
}

#header {
  padding: 2em;
  background-color: #;
  color: black;
}

#logo-main {
  font-size: 2.5em;
  float: left;

}

#logo-title, #logo-main span{
  color: white;
}

#logo {text-align: right;}
#logo-main { display: inline-block; white-space: nowrap;  color: green;}
#logo-description { font-size: 0.75em; display: inline-block; white-space: nowrap; text-align: right;}

#menu {
  padding: 1em;
  background-color: black;
  color: white;
}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid lightgray;
}

#search-bar {
  float: right;
  border-left: none !important;
}

#search-bar input {
    border-radius: 0.5em;
}

#content{

  padding: 7em;
  text-align: center;
  background-image: url(fotos/foto2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#content > ul{
  list-style-type: none;
}

.online{
  color:rgb(32, 228, 22);
}












#footer {
  background-color: #32373a;
  color: gray;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
}


.grid-r1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-r1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding-left: 300px;
    padding-right: 300px;
  }

  .grid-l img{
width: auto;
height: 50px;
  }
  .grid-m img{
width: auto;
height: 50px;
  }
  .grid-r img{
width: auto;
height: 50px;
  }


  .grid-l {
text-align: center;
  }
  .grid-m {
    text-align: center;
  }
  .grid-r {
text-align: center;
  }
li:hover{
  color: #00913d;
}









#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#sidebar {
  padding: 1em;
  background-color: #f8f8f8;
}

.sidebar-element select {
  width:100%;
  max-width: 100%;
}

.sidebar-title {
  font-size: 0.6em;
  font-weight: bolder;
}

#contento {
  padding: 1em;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  color: ;
}

.card hr {
  color: #42cdc6;
}

.card-image img {
  width: 150%;
  max-width: 100%;
}

.card-title, .card-subtitle, .card-views, .card-reviews {
  padding: 0.5em;
}

.card-title {
  font-weight: bolder;
  padding-bottom: 2em;
}

.card-subtitle {
  font-size: 0.8em;
}

.card-reviews {
  font-size: 0.8em;
  font-weight: bolder;
}

.card-footer {
  color: white;
  font-size: 0.7em;
}

#banner {
  padding: 1em;
}

#banner img {
  width: 100%;
  max-width: 100%;
}

.centertext{
  text-align: center;
}

.page{
  text-align: center;
}

.text1{
  text-align: center;
}









#contento1 {
  padding: 1em;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  color: ;
}

.card hr {
  color: #42cdc6;
}

.card-image img {
  width: 150%;
  max-width: 100%;
}

.card-title, .card-subtitle, .card-views, .card-reviews {
  padding: 0.5em;
}

.card-title {
  font-weight: bolder;
  padding-bottom: 2em;
}

.card-subtitle {
  font-size: 0.8em;
}

.card-reviews {
  font-size: 0.8em;
  font-weight: bolder;
}

.card-footer {
  color: white;
  font-size: 0.7em;
}







/* EN EL MÓVIL */

@media (max-width: 1024px) {

  #footer {
    grid-template-columns: 1fr;
  }

  .grid-r1 {
    text-align: center;
    font-size: 2em;
  }

  .grid-r1 h6 {
    margin-bottom: 1em;
  }

  .grid-r1 {
    grid-template-columns: 1fr;
  }

}
